@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary: #fe2c55;
}

*{
    box-sizing: border-box;
}
html{
    font-size: large;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
